/* QUITANDO PROPIEDADES POR DEFECTO */
* {
    box-sizing: border-box;
}

a{
    text-decoration: none;
}

ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

body {
    font-family: 'Montserrat', sans-serif;
    margin: 0;
    position: relative;
    background-color: var(--color-negro);
    --color-blanco: #fff;
    --color-gris-claro: #ddd;
    --color-gris-oscuro: #333;
    --color-negro: #111;
    --color-fondo-claro: #a87fcf55;
    --color-fondo: color-mix(in srgb, #84e 50%, #fff 5%);
    --color-lila-claro: #D8BFD8;
    --color-azul: #48e4;
    --color-aside: #8a2be2;
    --color-oscuro: #191924;
    --color-mas-oscuro:#18233f66;
    --color-mas-oscuro-solido:#121244;
    --color-contraste: #98FB98;
}

h1, h2, h3, h4, p {
    margin: 0;
}

p {
    text-wrap: pretty;
}

/* FONDO */
#particles-js {
    position: fixed; 
    width: 100%;
    height: 100%; 
    top: 0;
    left: 0;
    z-index: -1;
    opacity: .5;
}


/* -------- HEADER SECTION -------- */

.header {
    display: flex !important;
    justify-content: center;
    align-items: center;
    min-height: 10dvh;
    background-color: var(--color-oscuro);
}

.self-name__wrapper{
    display: none;
    align-items: center;
    margin-left: 50px;
}

.header__self-name{
    color: var(--color-blanco);
}

.header__nav{
    width: clamp(600px, 40%, 700px);
}

.header__nav-list {
    display: flex;
    width: 100%;
    justify-content: space-evenly;
}

.header__nav-item{
    min-height: 60px;
    min-width: 60px;
    display: grid;
    align-items: center;
    justify-items: center;
}

.header__nav-image{
    max-height: 45px;
}

.google-icon{
    width: 50px;
    height: 70px;
    border-radius: 6px;
}

.github-icon{
    border-radius: 7px;
}

/* -------- HEADER ENDS -------- */

/* -------- MAIN SECTION -------- */

.profile{
    container-name: profile;
    container-type: inline-size;
    margin: 20px 2px;
}

.profile__wrapper{
    display: flex;
    flex-direction: column;
    min-height: 70dvh;
    background-color: #48e3;
    border-radius: 15px;
    overflow: hidden;
}

/* -------- SKILLS INFORMATION -------- */

.profile__self-information{
    display: flex;
    flex-direction: column;
    background-color: var(--color-oscuro);
    color: var(--color-gris-claro);
    min-height: 40dvh;
    max-height: 160dvh;
}

.profile__img-container{
    display: grid;
    justify-content: center;
    align-content: center;
    width: 100%;
    min-height: 37dvh;
    max-height: 37dvh;
    background-color: var(--color-gris-claro);
    overflow: hidden;
}

.image-profile{
    max-height: 100%;
    height: clamp(200px,100%,400px);
    width: clamp(10px,100%,500px);
    object-fit: cover;
}

.profile__autodescription{
    padding: 20px;
    display: flex !important;
    flex-direction: column;
    gap: 10px;
    height: 100%;
    justify-content: space-evenly;
}

.profile__autodescription-title{
    font-size: 1.2rem;
}

.profile__autodescription-paragraph{
    color: var(--color-blanco);
}


/* -------- AUTODESCRIPTION SECTION -------- */

.profile__skills{
    background-color: var(--color-mas-oscuro);
    color: var(--color-mas-oscuro-solido);
}

.profile__img-logo{
    height: 75px;
}

.profile__skill-description__wrapper{
    min-height: 37dvh;
    padding: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    color: var(--color-lila-claro);
}

.profile__skill-title{
    width: fit-content;
    margin: auto;
}

.profile__skill-description-paragraph{
    margin-top: 25px;
    max-width: 750px;
    margin: auto;
}

/* -------- SKILL ICONS -------- */

.profile__skill-list__wrapper__wrapper {
    display: flex;
    flex-direction: column;
    position: relative; 
    width: 100%; 
    overflow: hidden; 
    background-color: var(--color-lila-claro);
}


.profile__skill-list__wrapper {
    width: 100%; 
    height: 100%;
    min-height: 33dvh;
}

.form__slider-button-icon{
    display: none !important;
}

.checkbox-hidden{
    display: none;
}

/* DROP-DOWN MENU */

.profile__skill-list{
    margin: 4px;
    width: 98%;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px,1fr));
    justify-content: center;
    gap: 5px;
}

.profile__skill{
    min-height: 220px;
}

.profile__skill-label{
    display: block;
    text-align: center;
    position: relative;
    max-height: 105px;
    overflow: hidden;
    transition: max-height .3s linear;
    background-color: inherit;
    border-radius: 3px;
    border: 2px solid var(--color-blanco);
}

.profile__skill:hover h3, .profile__skill:hover img{
    opacity: .7;
    cursor: pointer;
}

.titulo-wrapper{
    display: flex;
    justify-content: center;
    background-color: var(--color-blanco);
    color: var(--color-negro);
}

.profile__skill-paragraph{
    text-align: left;
}

.profile__skill-label:has(input[type="checkbox"]:checked){
    max-height: 400px;
    transition-duration: .3s;
}

/* -------- MAIN ENDS -------- */

/* -------- PROJECTS SECTION -------- */

.portfolio{
    container-name: portfolio;
    container-type: inline-size;
    min-height: 70dvh;
    background-color: var(--color-oscuro);
}

.portfolio__title-container{
    min-height: 10dvh;
    display: grid;
    justify-content: center;
    align-content: center;
    width: 100%;
}

.portfolio__title{
    font-size: 60px;
    color: var(--color-blanco);
}

.portfolio__pojects-wrapper{
    display: grid;
    grid-template-columns: 1fr;
    margin: 25px;
    gap: 25px;
    justify-content: center;
    justify-items: center;
}

.portfolio__project-container{
    min-height: 300px;
    width: 100%;
    background-color: #84e;
    justify-content: center;
    align-content: center;
    text-align: center;
    border-radius: 7px;
    overflow: hidden;
}

.portfolio__project-container:hover{
    outline: 2px solid var(--color-gris-claro);
    transition-duration: .1s;
}

.portfolio__project{
    display: grid;
    align-content: center;
    height: 100%;
    width: 100%;
    background-color: var(--color-oscuro);
    color: var(--color-mas-oscuro-solido);
    font-weight: 500;
    font-size: 25px;
}

.project-1{
    background-image: url(imagenes-portafolio/portafolio-diseño.png) !important;
    background-size: cover;
    background-position: center;
}

.project-2{
    background-image: url(imagenes-portafolio/aside-image.png) !important;
    background-size: cover;
}

.project-3{
    background-image: url(imagenes-portafolio/chatbox-image.png) !important;
    background-size: cover;
    background-position: center 30px 30;
}

.project-4{
    background-image: url(imagenes-portafolio/tarjeta-giratoria.png) !important;
    background-size: cover;
    background-position: center;
}

.project-5{
    background-image: url(imagenes-portafolio/portada-web.png) !important;
    background-size: cover;
    background-position: center;
    color: var(--color-blanco);
}

.project-6{
    background-image: url(imagenes-portafolio/menu-acordeon.png) !important;
    background-size: cover;
    background-position: center;
}

.project-7{
    background-image: url(imagenes-portafolio/botones-animados.png) !important;
    background-size: cover;
    background-position: center;
    color: var(--color-blanco);
}

.portfolio__project:hover{
    opacity: .8;
    transition-duration: .2s;
}

/* -------- EXERCISES AND FORM SECTION -------- */

.form-and-exercises__wrapper{
    min-height: 40dvh;
    display: flex;
    width: clamp(300px,40dvw,700px);
    margin: auto;
    margin-top: 30px;
    margin-bottom: 30px;
    gap: 30px;
}

/* -------- ONLY EXERCISES SECTION -------- */

.exercises{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: var(--color-gris-oscuro);
    color: var(--color-blanco);
    border-radius: 10px;
}

.exercises__image{
    height: 100px;
    width: 100px;
    border-radius: 50%;
    margin: 20px 10px;
}

.exercises__button{
    display: grid;
    align-content: center;
    justify-content: center;
    color: var(--color-blanco);
    background-color: var(--color-azul);
    height: 50px;
    padding: 20px;
    border-radius: 10px;
    transition-duration: .5s;
}

.exercises__button:hover{
    opacity: .7;
    transition-duration: .3s;
}


.exercises__paragraph{
    padding: 30px;
    font-size: 25px;
}

/* -------- EXERSICES SECTION ENDS -------- */


/* -------- FOOTER SECTION --------*/

.footer{
    display: flex;
    justify-content: center;
    background-color: var(--color-oscuro);
    color: var(--color-blanco);
    min-height: 10dvh;
}

.footer__span{
    display: grid;
    justify-content: center;
    align-content: center;
}


/* -------- HEADER SECTION ANIMATIONS --------*/

@keyframes adaptar-nav {
    from {
        background-color: var(--color-oscuro);
    }

    to {
        background-color: var(--color-mas-oscuro);
    }
}

/* -------- MEDIA QUERIES HEADER -------- */

@media screen and (min-width:700px){
    .self-name__wrapper {
        display: grid;
    }
    .header {
        justify-content: space-between;
        position: sticky;
        top: 0;
        z-index: 10;
        animation: adaptar-nav both;
        animation-timeline: scroll();
        animation-range: 20px 150px;
    }
}

/* -------- MEDIA QUERIES MAIN -------- */

@container profile (min-width:850px){
    .profile__wrapper{
        flex-direction: row;
        min-height: 50dvh;
    }
    .profile__self-information{
        flex: 2;
    }
    .profile__skills{
        flex: 5;
        min-height: 10dvh;
    }
}

@media screen and (min-width:548px){
    .form__slider-button-icon{
        display: block !important;
        justify-content: center;
        align-content: center;
        width: 5%;
        border: 2px solid var(--color-gris-claro);
        cursor: pointer;
        text-align: center;
    }
    .profile__skill-list{
    width: 93%;
    margin-left: auto;
    margin-right: auto;
    }
    .profile__skill-list__wrapper__wrapper{
        flex-direction: row;
    }
    .profile__skill-list__wrapper {
        position: relative; 
        top: 0;
        left: 0;
        width: 95%; 
        height: 100%;
        background: var(--color-lila-claro);
    }
    .list-1{
        top: 0;
        left: 0;
    }

    .list-2{
        display: none;
    }
}

/* -------- MEDIA QUERIEES PROJECT -------- */

@media screen and (min-width: 700px) {
    .portfolio__pojects-wrapper{
        grid-template-columns: repeat(auto-fill,minmax(350px,1fr));
        margin: 0 10px 20px 10px;
    }
    .portfolio__project-container{
        width: clamp(200px,95%,400px);
    }
}

@media screen and (min-width:700px){
    .form-and-exercises__wrapper{
        flex-direction: row;
    }
}