/* QUITANDO PROPIEDADES POR DEFECTO */
* {
    box-sizing: border-box;
}

ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

body {
    margin: 0;
}

h1, h2, h3 {
    margin: 0;
}

/* -------- HEADER SECTION -------- */

.header {
    display: flex;
    justify-content: center;
    min-height: 10dvh;
    background-color: #333;
}

.self-name__wrapper{
    display: none;
    align-items: center;
    margin-left: 50px;
}

.header__self-name{
    color: #fff;
}

.header__nav-list {
    display: flex;
    width: clamp(500px,40%,700px);
    justify-content: space-evenly;
}

.header__nav-item{
    min-height: 60px;
    min-width: 60px;
    display: grid;
    align-items: center;
    justify-items: center;
}

.header__nav-image{
    max-height: 30px;
}

/* -------- HEADER ENDS -------- */

/* -------- MAIN SECTION -------- */

.profile{
    container-name: profile;
    container-type: inline-size;
    margin: 10px;
}

.profile__wrapper{
    display: flex;
    flex-direction: column;
    min-height: 90dvh;
    background-color: #48e3;
}

.profile__self-information{
    display: flex;
    flex-direction: column;
    min-height: 90dvh;
    background-color: #444;
}

.profile__img-container{
    min-height: 37dvh;
    background-color: #b44;
}

.profile__autodescription{
    height: 33dvh;
}

h1 {
    color: #fff;
}

.profile__skills{
    background-color: #48e;
    min-height: 90dvh;
}


/* -------- MEDIA QUERIES HEADER -------- */

@media screen and (min-width:700px){
    .self-name__wrapper {
        display: grid;
    }
    .header {
        justify-content: space-between;
    }
}

/* -------- MEDIA QUERIES MAIN -------- */

@container profile (min-width:850px){
    .profile__wrapper{
        flex-direction: row;
    }
    .profile__self-information{
        flex: 2;
    }
    .profile__skills{
        flex: 3;
    }
}
