/* QUITANDO PROPIEDADES POR DEFECTO */
* {
    box-sizing: border-box;
}

a{
    text-decoration: none;
}

ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

body {
    margin: 0;
    background-color: #48e4;
}

h1, h2, h3, h4, p {
    margin: 0;
}

p {
    text-wrap: pretty;
}

/* -------- HEADER SECTION -------- */

.header {
    display: flex;
    justify-content: center;
    min-height: 10dvh;
    background-color: #333;
}

.self-name__wrapper{
    display: none;
    align-items: center;
    margin-left: 50px;
}

.header__self-name{
    color: #fff;
}

.header__nav-list {
    display: flex;
    width: clamp(500px,40%,700px);
    justify-content: space-evenly;
}

.header__nav-item{
    min-height: 60px;
    min-width: 60px;
    display: grid;
    align-items: center;
    justify-items: center;
}

.header__nav-image{
    max-height: 30px;
}

/* -------- HEADER ENDS -------- */

/* -------- MAIN SECTION -------- */

.profile{
    container-name: profile;
    container-type: inline-size;
    margin: 10px;
}

.profile__wrapper{
    display: flex;
    flex-direction: column;
    min-height: 99dvh;
    background-color: #48e3;
}

/* -------- SKILLS INFORMATION -------- */

.profile__self-information{
    display: flex;
    flex-direction: column;
    min-height: 50dvh;
    background-color: #444;
}

.profile__img-container{
    display: grid;
    justify-content: center;
    align-content: center;
    min-height: 37dvh;
    background-color: #b44;
}

.profile__autodescription{
    padding: 35px;
    min-height: 100px;
    color: #fff;
}

.profile__autodescription-title{
    margin-bottom: 30px;
}


/* -------- AUTODESCRIPTION SECTION -------- */

.profile__skills{
    background-color: #48e;
    min-height: 180dvh;
}

.profile__img-logo{
    height: 75px;
}

.profile__skill-description__wrapper{
    min-height: 20dvh;
    padding: 20px;
}

.profile__skill-description-paragraph{
    margin-top: 25px;
}

/* -------- SKILL ICONS -------- */

.profile__skill-list__wrapper__wrapper {
    display: flex;
    position: relative; 
    width: 100%; 
    max-height: 100%;
    height: 140dvh; 
    overflow: hidden; 
}


.profile__skill-list__wrapper {
    position: absolute; 
    top: 0;
    left: 0;
    width: 100%; 
    height: 100%;
}

.form__slider-button{
    position: absolute;
    right: 0;
    display: grid;
    justify-content: center;
    align-content: center;
    height: 100%;
    width: 4dvw;
}

.checkbox-hidden{
    display: none;
}

.list-1{
    top: 0;
    left: 0;
}

.list-2{
    top: 0;
    left: 1200px;
}

/* DROP-DOWN MENU */

.profile__skill-list{
    margin: 5px;
    width: 100%;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px,1fr));
    justify-content: center;
    gap: 5px;
}

.profile__skill{
    min-height: 220px;
}

.profile__skill-label{
    display: block;
    text-align: center;
    position: relative;
    max-height: 100px;
    overflow: hidden;
}

.profile__skill:hover h3, .profile__skill:hover img{
    opacity: .7;
    cursor: pointer;
}

.profile__skill-paragraph{
    text-align: left;
}

.profile__skill-label:has(input[type="checkbox"]:checked){
    max-height: 400px;
}

/* -------- MAIN ENDS -------- */

/* -------- PROJECTS SECTION -------- */

.portfolio{
    container-name: portfolio;
    container-type: inline-size;
    min-height: 70dvh;
    background-color: #1e2a38;
}

.portfolio__title-container{
    min-height: 10dvh;
    display: grid;
    justify-content: center;
    align-content: center;
    width: 100%;
}

.portfolio__title{
    font-size: 60px;
    color: #fff;
}

.portfolio__pojects-wrapper{
    display: grid;
    grid-template-columns: 1fr;
    margin: 25px;
    gap: 25px;
    justify-content: center;
    justify-items: center;
}

.portfolio__project-container{
    min-height: 300px;
    width: 100%;
    background-color: #84e;
    justify-content: center;
    align-content: center;
    text-align: center;
    border-radius: 15px;
    overflow: hidden;
}

.portfolio__project{
    display: grid;
    align-content: center;
    height: 100%;
    width: 100%;
    background-color: #e48;
    color: #fff;
    font-weight: 500;
    font-size: 25px;
}

.portfolio__project:hover{
    opacity: .7;
}

/* -------- EXERCISES AND FORM SECTION -------- */

.form-and-exercises__wrapper{
    min-height: 75dvh;
    display: flex;
    flex-direction: column;
    width: 98%;
    margin: auto;
    background-color: #e4e6;
    margin-top: 10px;
    margin-bottom: 10px;
}

/* -------- ONLY EXERCISES SECTION -------- */

.exercises{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    flex: 1;
    background-color: #1e2a38;
    color: #fff;
}

.exercises__image{
    height: 200px;
    width: 200px;
    border-radius: 50%;
}

.exercises__button{
    display: grid;
    align-content: center;
    justify-content: center;
    color: #fff;
    background-color: #48e;
    height: 50px;
    padding: 20px;
    border-radius: 10px;
}

.exercises__paragraph{
    padding: 20px;
    font-size: 25px;
}

/* -------- EXERSICES SECTION ENDS -------- */

/* -------- ONLY FORM SECTION -------- */


.form {
    flex: 1;
    background-color: #b444;
    min-height: 60dvh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

}

.form__title {
    font-size: 2rem;
}

.form__form {
    padding: 13px;
    max-width: 700px;
    width: 100%;
    display: grid;
    margin-bottom: 20px;
}

.form__label {
    display: block;
}

.form__input-container {
    padding: 5px;
}

.form__input-container :is(input,textarea) {
    width: 100%;
    padding: 6px;
    font-size: 16px;
    border: none;
    box-shadow: 0 0 8px #0003;
    border-radius: 4px;
}

.form__input-container textarea {
    resize: none;
    min-height: 9rem;
    font-family: inherit;
    font-size: 1.2rem;
}

.form__input-container input[type="submit"] {
    color: #fff;
    background-color: #18233f;
}

/* -------- FORM SECTION ENDS -------- */

/* -------- MAIN SECTION ANIMATIONS --------*/

/* -------- MEDIA QUERIES HEADER -------- */

@media screen and (min-width:700px){
    .self-name__wrapper {
        display: grid;
    }
    .header {
        justify-content: space-between;
        position: sticky;
        top: 0;
        z-index: 10;
    }
}

/* -------- MEDIA QUERIES MAIN -------- */

@container profile (min-width:850px){
    .profile__wrapper{
        flex-direction: row;
        min-height: 90dvh;
    }
    .profile__self-information{
        flex: 2;
    }
    .profile__skills{
        flex: 3;
    }
}

@media screen and (min-width:525px){
    .profile__skills{
        min-height: 90dvh;
    }
    .profile__skill-list__wrapper__wrapper {
        height: 70dvh; 
    }
    
}

/* -------- MEDIA QUERIEES PROJECT -------- */

@media screen and (min-width: 700px) {
    .portfolio__pojects-wrapper{
        grid-template-columns: repeat(auto-fill,minmax(350px,1fr));
        margin: 5px;
    }
    .portfolio__project-container{
        width: clamp(200px,95%,400px);
    }
}

@media screen and (min-width:700px){
    .form-and-exercises__wrapper{
        flex-direction: row;
    }
}