body {
    margin: 0;
    background-color: #222;
}

.wrapper {
    display: flex;
    flex-direction: column;
    height: 80dvh;
    justify-content: space-evenly;
    align-items: center;
}

.boton {
    padding: 10px 40px;
    background-color: transparent;
    color: #fff;
    border-radius: 6px;
    letter-spacing: 3px;
    position: relative;
}

/*-------- FILL BUTTON --------*/

.boton-1 {
    border: 1px solid #32a;
    overflow: hidden;
}

.boton-1::before {
    content: '';
    background-color: #32a;
    display: block;
    height: 200%;
    width: 140%;
    position: absolute;
    z-index: -1;
    transition: left .6s;
    border-radius: 25%;
    top: -40%;
    left: 100%;
}

.boton-1:hover::before {
    left: -20%;
}

.boton-1:active {
    border-color: #32a7;
}

.boton:active::before {
    background-color: #32a7;
}

/*-------- NEON BUTTON --------*/

.button-container:has(.boton-2) {
    filter: drop-shadow(0 0 16px #95f);
    filter: drop-shadow(0 0 5px #95f);
}

.boton-2 {
    border: 1px solid #fff3;
    color: #fff3;
}

.boton-2:hover {
    animation: parpadear 1s infinite alternate backwards;
}

.boton-2:active {
    animation-play-state: paused;
}

@keyframes parpadear {
    0% {
        color: #fff3;
        border-color: #fff3;
        text-shadow: 0px;
        box-shadow: 0px;
    }
    
    25% {
        border-color: #95f;
        color: #95f;
        box-shadow: 0 0 10px #95f3, 0 0 10px #95f3;
        text-shadow: 0 0 10px #95f, 0 0 10px #86f;
    }
    30% {
        color: #fff3;
        border-color: #fff3;
        text-shadow: 0px;
        box-shadow: 0px;
    }
    
    35% {
        border-color: #95f;
        color: #95f;
        box-shadow: 0 0 10px #95f3, 0 0 10px #95f3;
        text-shadow: 0 0 10px #95f, 0 0 10px #86f;
    }
    46% {
        color: #fff3;
        border-color: #fff3;
        text-shadow: 0px;
        box-shadow: 0px;
    }
    
    60% {
        border-color: #95f;
        color: #95f;
        box-shadow: 0 0 10px #95f3, 0 0 10px #95f3;
        text-shadow: 0 0 10px #95f, 0 0 10px #86f;
    }
    72% {
        color: #fff3;
        border-color: #95f7;
        text-shadow: 0 0 5px #95f, 0 0 5px #86f;
        box-shadow: 0 0 5px #95f3, 0 0 5px #95f3;
    }
    
    100% {
        border-color: #95f;
        color: #95f;
        box-shadow: 0 0 13px #95f3, 0 0 13px #95f3;
        text-shadow: 0 0 13px #95f, 0 0 13px #86f;
    }
}